<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                <a class="navbar-brand" href="#">CsvToMongo</a>
              </nav>
             
    <h1>Hi user</h1>

  
    <div class="container">
        <div class=" nav justify-content-center" style="margin-top:100px;">
         <div class="card border-warning mb-3 " style="max-width: 20rem;">
                <div class="card-header"><h5>Upload csv file</h5></div>
                <div class="card-body">
                        <form action="/" method="post" enctype="multipart/form-data">
                            <input type="file" name="csv"><br><br>
                         <div class="text-center"><button type="submit" class="btn btn-lg btn-primary">submit</button></div>   
                        </form>
                </div>
          </div>
    </div><br>
   
    <%if(data){%>
    <div>
     
        <table class="table table-hover table-responsive table-stripped  nav justify-content-center" style="width: auto" > 
                <thead>
                    <tr class="bg-primary">
                        <th>Sno</th>
                        <th style="padding-right: 1em">State</th>
                        <th style="padding-right: 1em">Capital</th>
                        <th style="padding-right:2em;padding-left:2em;">Population</th>
                     
                         <!-- <th>Test1</th>
                        <th>Test2</th>
                        <th>Test3</th>
                        <th>Test4</th>
                        <th>Final</th>
                        <th>Grade</th> -->
                    </tr>   
                    </thead>  
                  <br>
                    <%for(var i=data.length-20;i< data.length;i++){%>
                
                 
                 <tbody style="overflow-x: scroll; height:350px;" class="table-bordered">
                    
                  
                    <tr class="text-center">
                                  <td ><%= data[i].Sno%></td>
                                  <td style="padding-right: 1em"><%= data[i].States %></td>
                                  <td style="padding-left: 1em;"><%= data[i].Capital %></td>
                                  <td style="padding-right:2em;padding-left:2em;"><%= data[i].Population%></td>
                                   <!-- <td style="padding-left: 1em"><%= data[i].Test1%></td>
                                  <td style="padding-left: 1em"><%= data[i].Test2%></td>
                                  <td style="padding-left: 1em"><%= data[i].Test3%></td>
                                  <td style="padding-left: 1.2em"><%= data[i].Test4%></td>
                                  <td style="padding-left: 1.2em"><%= data[i].Final%></td>
                                  <td style="padding-left: 1.2em"><%= data[i].Grade%></td> -->
                    </tr>
                
                </tbody> 
                <%}%>
        </table>
    </div>
    <%}%>
<br>
<a style="text-align: center;size: 12px; " href="/logout">Sign Out</a>
</body>
</html>